@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1c1b21;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.sidebar img{
    width: 40px;
    height: 40px;
}
.sidebar a:hover{
    transform: scale(1.3);
    transition: all 0.2s ease;
}
.responsiveIcon{
    height: auto;
    width: 100%;
    cursor: pointer;

}
.sidebar{
    z-index: 1;
    position: absolute;
    background: #1D1F2B ;
    width: 100px;
    padding: 32px;
    height: 100%;
    border-radius: 0 32px 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 64px 128px 128px 128px;
}
.responsive{
    width: 100%;
    height: auto;
    max-width: 450px;
}
nav{
    display: flex;
    flex-direction: row;
}
.navbar{
    display: none;
}
.navbar2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    padding: 32px;
    width: 100%;
}
.navbar2 h3 a{
    padding: 16px;
    text-decoration: none;
    color: #fff;
}
.navbar2 h3 a:hover{
    border-bottom: 5px solid #721ba9;
    transition: all 0.2s ease-in-out;
}
.active, .btn:hover {
    color: white;
    border-bottom: 5px solid #721ba9;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.content-left{
    display: flex;
    flex-direction: column;
    padding: 32px;
    row-gap: 16px;
}
.content-left ul, .content-right ul{
    padding-left: 32px;
}
.content-right{
    display: flex;
    flex-direction: column;
    padding: 32px;
    row-gap: 32px;
}
@media screen and (max-width: 968px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    .top{
        display: grid;
        grid-template-columns: 100%;
    }
    .navbar{
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbar2{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(52, 52, 52);
        overflow: hidden;
        position: relative;
        width: 100%;
        padding: 32px;
        left: 0;
        margin-top: 16px;
        row-gap: 32px;
        transition-delay: 2s;
        transition-duration: 2s ;
    }
    .hamburger-menu {
        top: 1rem;
        right: 2rem;
        z-index: 10;
        cursor: pointer;
    }
    
    .menu-bar1,
    .menu-bar2,
    .menu-bar3 {
        width: 2.5rem;
        height: 0.1rem;
        background-color: #fff;
        margin: 0.8rem 0;
        transition: 0.4s;
    }
    
    .menu-bar2 {
        width: 1rem;
        margin-left: auto;
    }
    
    
    .active .menu-bar1 {
        transform: rotate(-45deg) translate(-0.6rem, 0.6rem);
    }
    
   
    .active .menu-bar2 {
        opacity: 0;
    }
    
  
    .active .menu-bar3 {
        transform: rotate(45deg) translate(-0.7rem, -0.6rem);
    }
    .navbar2 h3 a{
        padding: 0;
    }
    
    .navbar2 #myLinks {
        display: none;
    }
    
    .navbar2 a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    .navbar2 a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .sidebar{
        display: none;
    }
    main{
        display: flex;
        flex-direction: column;
        padding: 32px;
    }
}