
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    color: #fff;
    background: #201a30;
    font-family: "Poppins", sans-serif;
}
.input-icons i {
    position: absolute;
    padding: 15px;
}
 
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
.responsive{
    width: 100%;
    height: auto;
}
.parent{
    padding: 32px 16px 16px 16px;
}
.container{
    padding: 16px;
}
.right{   
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-top: 32px;
    padding-bottom: 0px;
}
.right p {
    color: #635f6e;
}
.right button{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right input{
    padding: 16px 32px;
    border-radius: 8px;
    background: #38304c;
    border: none;
    width: 100%;
    color: #fff;
}
.bottom{
    display: grid;
    place-items: center;
    row-gap: 50px;
}
.bottom button{
    padding: 16px 64px;
    background: #0df5e3;
    border-radius: 32px;
    width: 50%;
}
.sign a{
    color: #0df5e3;

}
.desktop{
    display: none;
}
.bottom button,.desktop button:hover{
    transition: all 0.2s ease;
    background: #fff;
}
@media screen and (min-width: 968px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 100px;
    }
    .right{
        padding: 32px;
    }
    .bottom{
        display: none;
    }
    .desktop{
        display: flex;
        flex-direction: column-reverse;
        row-gap: 32px;
        
    }
    .desktop button{
        display: grid;
        place-items: center;
        padding: 16px 64px;
        background: #0df5e3;
        border-radius: 32px;
        width: 50%;
        cursor: pointer;
    }


}

